{% extends 'base.html' %}{% load static %} {% block title %}рассчет насоса для системы отопления{% endblock %}
{% block content %}
<main id="main_pump">
  <section class="calc_section" id="id_pump_calc">
  <h1 class="calc_title">Калькулятор производительности насоса.</h1>
  <div class="divider"></div>
  <form action="" method="post">
    {% csrf_token %} {{ form }}

    <button class="button_calc" type="submit" value="Рассчитать">Рассчитать</button>
    {% if q_pump %}
    <div class="divider"></div>
    <h2 class="calc_resul">Результат</h2>   
    <h5 class="result">Производительность насоса:<b>{{q_pump}} м³/ч</b></h5>    
    {% endif %}  
    <div class="divider"></div>
    <h5 class="disclaimer">
      Результат вычислений является приблизительным и может потребовать
      корректировки при проектировании. Для
      получения подробной консультации и технико-коммерческого предложения
      <a href="#">напишите</a> нам или позвоните по телефону:
      <a
        href="tel:+7
          (495) 77-594-77"
        >+7 (495) 77-594-77</a
      >
      .
    </h5>
  </form>
</section>
{% include 'side_calc.html' %}
</main>
{% endblock %}
