{% extends 'base.html' %}{% load static %} {% block title %}Инструменты{% endblock %}
{% block content %}
<div class="container4">
    <div class="side">
        <p id="tools">Инструменты.</p>
        <a href="heat-calc" id="tool1">Калькулятор тепла</a>
        <a href="pump-calc" >Калькулятор насоса</a>
        <a href=""></a>
      </div>
<div class="card3">
    <h4>Калькулятор подбора насоса</h4>
    <p>Используя этот калькулятор вы можете подобрать необходимую производительность насоса зная мощность котла, температуру подачи и температуру обратного потока.</p>
</div>
<div class="card4">
    <h4>Калькулятор подбора насоса</h4>
    <p>Используя этот калькулятор вы можете подобрать необходимую производительность насоса зная мощность котла, температуру подачи и температуру обратного потока.</p>
</div>
<div class="card5">
    <h4>Калькулятор подбора насоса</h4>
    <p>Используя этот калькулятор вы можете подобрать необходимую производительность насоса зная мощность котла, температуру подачи и температуру обратного потока.</p>
</div>
<div class="card6">
    <h4>Калькулятор подбора насоса</h4>
    <p>Используя этот калькулятор вы можете подобрать необходимую производительность насоса зная мощность котла, температуру подачи и температуру обратного потока.</p>
</div>

</div>
{% endblock %}